/* Polices */

@font-face {
	font-family: 'oswaldregular';
	src: url("../fonts/oswald-regular.eot");
	src: url("../fonts/oswald-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/oswald-regular.woff") format("woff"), url("../fonts/oswald-regular.ttf") format("truetype");
}

@font-face {
	font-family: 'oswaldlight';
	src: url("../fonts/oswald-light.eot");
	src: url("../fonts/oswald-light.eot?#iefix") format("embedded-opentype"), url("../fonts/oswald-light.woff") format("woff"), url("../fonts/oswald-light.ttf") format("truetype");
}

@font-face {
	font-family: 'signikalight';
	src: url("../fonts/signika-light.eot");
	src: url("../fonts/signika-light.eot?#iefix") format("embedded-opentype"), url("../fonts/signika-light.woff") format("woff"), url("../fonts/signika-light.ttf") format("truetype");
}

@font-face {
	font-family: 'signikaregular';
	src: url("../fonts/signika-regular.eot");
	src: url("../fonts/signika-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/signika-regular.woff") format("woff"), url("../fonts/signika-regular.ttf") format("truetype");
}

@font-face {
	font-family: 'dgac';
	src: url("../fonts/dgac.woff") format("woff");
}

@font-face {
	font-family: 'dgac-portail';
	src: url("../fonts/dgac-portail.woff") format("woff");
}

@font-face {
	font-family: 'dgac-portail';
	src: url("../fonts/dgac-portail.woff") format("woff");
}

/* Styles */

body {
	background-color: #F6F6F6;
	position: relative; /* required */
	margin-top: 100px;
}

a,
a:hover {
	color:#333;
}

.fa {
  font-size: 1.5em;
  cursor: pointer;
}

.divcommentaire {
	width:100%;
	height:50px;
}

.header-commentaire {
	width:100%;
	height:35px;
	/*border-bottom: 1px ridge lightslategray;*/
}

.contenu-commentaire {
	width:90%;
	margin-left:50px;
	float: left;
	
}

.rotated {
	transform:rotate(270deg) !important; 
    -webkit-transform:rotate(270deg) !important; 
    -moz-transform:rotate(270deg) !important; 
    -o-transform:rotate(270deg) !important; 
}

.espace-btn {
	margin:2px;
	margin-right:5px;
}

.note-btn {
  padding: 6px 9px ;
  font-size: 13px;
  line-height: 0.5;
  border-radius: 3px;
}

.btn-navig {
	margin-right:10px;
	margin-top: 5px;
	margin-bottom: -5px;
}

.nav-tabs {
	margin-bottom: 5px !important;
}

/* Barre de navigation */

#bs-example-navbar-collapse-1 {
	font-size:14px;
}

#bs-example-navbar-collapse-1 i {
	font-size:15px;
	margin-top:18px;
}

#bs-example-navbar-collapse-1 ul.nav.navbar-nav {
	-margin-top:18px;
}

.navbar {
	border-radius: 0px;
	height: 50px;
	min-height:50px;
	overflow: hidden;
	margin-bottom:0;
}

.navbar-default {
	background-color:#F8F8F8;
}

.navbar-text {
	margin-right: 15px;
	margin-top:0;
}

.navbar-btn {
	padding:0;
}

.navbar-nav > li > a {
	padding-bottom:0;
	padding-top:0;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover {
	color:#333333;
}

.navbar-default .navbar-nav > li > a:focus {
	color:#777;
}

.navbar-default .navbar-text {
	color:black;
}

.navbar-default .navbar-text i {
	margin-right:10px;
}

/* Barre d'application */

#banniere-application {
    top: 50px;
    background-color: #6361A9;
	padding:13px;
}

#banniere-application a:hover {
	color:white;
	text-decoration:none;
}

/* ? */

.titre {
	font-size: 1.2em;
	text-transform: uppercase;
	font-family: 'oswaldregular';
	color: white;
}

.label-navig {
	margin-right: 10px;
	margin-left: 10px;
}

/* Cartouche */

#cartouche {
	font-size: 32px;
    font-family: oswaldregular, Arial, Helvetica, "Helvetica Neue", sans-serif;
	background: white;
    padding: 15px;
    padding-top: 55px;
    padding-bottom: 55px;
    line-height: 40px;
    height: 150px;
    max-height: 150px;
    vertical-align: middle;
	text-transform: uppercase;
	margin-left: 85px;
	margin-bottom:25px;
	z-index:1001;
}

#cartouche.affix-top {
    position: fixed;
    top: 100px;
    width: 100%;
    max-height: 60px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #555555;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#cartouche > div {
    font-size: 32px;
    font-family: oswaldregular, Arial, Helvetica, "Helvetica Neue", sans-serif;
}

@media screen and (min-width: 768px) {
    #cartouche {
		margin-left: 85px;
	}
}

@media screen and (max-width: 767px) {
    #cartouche {
		max-height: 85px;
		padding-top: 22px;
		padding-bottom: 22px;
	}

	#cartouche.affix-top {
		padding-right: 15px;
	}
}

/* ? */

.titretab {
	font-size: 24px;
	color:#6361A9;
	font-family: oswaldregular, Arial, Helvetica, "Helvetica Neue", sans-serif;
}

.thumbnail {
	border: 1px solid #ccc;	
}

/* Composant menu */

div.menu {
    position: fixed;
    top: 50px;
    z-index: 1000;
    width: calc(85px + 17px);
    background: #333333;
    height: calc(100% - 100px);
    font-size: 12px;
    font-family: Arial;
    overflow-y: auto;
}

div.menu ul{
    display: block;
    height: inherit;
}

.nav-pills > li {
	float:none;
	text-align:center;
}

.nav-pills > li + li {
    margin-left: 0px;
}

.nav-pills > li > a {
    border-radius: 0px;
	padding:0;
	padding-top: 14px;
    padding-bottom: 14px;
	color:white;
}

.nav-pills > li.active > a,
.nav-pills > li        > a:hover,
.nav-pills > li        > a:focus {
    background-color: white;
    color: #333;
}

div.menu ul.nav.nav-pills li a i {
	font-size:24px;
	display:block;
	margin-bottom:8px;
}

/* ? */

.container {
	position:relative;
	background-color: #FFF;
}	

.affix-top {
    top: 110px;
}

.affix {
    top: 110px !important;
}

.espace {
	margin-bottom: 5px;
}

.divboxlabel {
	margin-top: 2px;
}

.divbox {
	width: 55%;
	height: 100px;
	margin-bottom:1px;
	margin-top: 6px;
	overflow:auto;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #aaa #ccc #ccc #ccc;	
	font-size: 1.1em;
	color: #000000;
}

.divboxfic {
	height: 100px;
	border-radius: 3px;
	margin-bottom:1px;
	margin-top: 6px;
	overflow:auto;
	border-style: solid;
	border-width: 2px;
	border-color: #dce4ec;	
	font-size: 1.1em;
	color: #000000;
	padding-top: 5px;
}

.col-sort-l {
	margin-left: 2%;
	width: 46%;
	height: 500px;
	float: left;
}

.col-sort-r {
	margin-right: 2%;
	width: 46%;
	height: 500px;
	float: right;
}

.imgfiltre {
	vertical-align: middle;
	margin-bottom: 2px;
	cursor: pointer;
}

.border{
	background-color: #efffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px 8px;
    margin: 10px 10px;
}

#datepicker a {
	text-decoration: none;
}

.table {
	font-size: 85%;
	background-color: #ffffff;
}

.form-group {
    margin-bottom: 8px !important;
}

.form-control-file {
	margin-top: 8px;
}

.form-poub-file {
	margin-top: 5px;
}

.form-poub-file {
	margin-right: -15px;
}

.imglist {
	float: left;
}

/* Composant tableau */

div.row div.item {
    background: white;
    padding: 15px;
    margin-bottom: 30px;
}

.table > tbody > tr.active > th,
.table > tbody > tr.active:hover > th {
	color:white;
	background:#333;
}

.table > tbody > tr > th,
.table > tbody > tr > td {
	padding:8px;
	border-top: 1px solid #ddd;
}

/* Page */

@media screen and (min-width: 768px) {
    div.container-fluid.affixed {
		padding-top: 150px;
	}
}

@media screen and (max-width: 767px) {
    div.container-fluid.affixed {
		padding-top: 85px;
	}
}

.col-md-4 {
    width: 32.45%;
    margin-right: 1.7%;
}

/* Boutons */

.btn {
	border-radius:0;
	padding:4px 8px 4px 8px;
}

.btn-primary,
.btn-default {
	color: #fff;
	background-color: #6361A9;
	border-color: #57559c;
}

.btn-primary:focus,
.btn-primary.focus {
	color: #fff;
	background-color: #4e4c8b;
	border-color: #292849;
}

.btn-primary:hover,
.btn-default:hover {
    color: #fff;
    background-color: #4e4c8b;
    border-color: #413f74;
}

.btn-primary:active,
.btn-primary.active,
.open > .btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #4e4c8b;
	border-color: #413f74;
}

.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-primary:active.focus,
.btn-primary.active:hover,
.btn-primary.active:focus,
.btn-primary.active.focus,
.open > .btn-primary.dropdown-toggle:hover,
.open > .btn-primary.dropdown-toggle:focus,
.open > .btn-primary.dropdown-toggle.focus {
	color: #fff;
	background-color: #413f74;
	border-color: #292849;
}

.btn-primary:active,
.btn-primary.active,
.open > .btn-primary.dropdown-toggle {
	background-image: none;
}

.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary.focus {
    background-color: #6361A9;
    border-color: #57559c;
}

.btn-primary .badge {
    color: #6361A9;
    background-color: #fff;
}

.tr-nowrap {
white-space: nowrap;
}
.ui-autocomplete {
    position: absolute;
    z-index: 1000;
    cursor: default;
    padding: 0;
    margin-top: 2px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.ui-autocomplete > li {
  padding: 3px 20px;
}
.ui-autocomplete > li.ui-state-focus {
  background-color: #DDD;
}
.ui-helper-hidden-accessible {
  display: none;
}
  .custom-combobox {
    position: relative;
  }
  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
  }
  .custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
  }